{% extends 'base.html' %}

{% block content %}
    <div class="row shop-header p-5 justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h2 class="display-4">Welcome to DineInsights!</h2>
            {% if current_user.is_authenticated %}
            <p class="lead">Discover restaurants near you.</p>
            <a href="{{ url_for('site.create')}}" class="btn btn-outline-light mt-3">Search Restaurants</a>
            {% else %}
            <h5> Sign In to view Restaurants</h5>
            <a href="/signin" class="btn btn-outline-light mt-3">Sign In</a>
            {% endif %}
        </div>
    </div>
</div>

{% for venue in restaurants %}
    <!-- <div class="row mt-5 mb-5 justify-content-center">
        <div class="card d-flex rounded shadow flex-row w-50 p-3" style="height: 350px;">
            <div class="col d-flex align-items-center" style="max-width:230px;">
                <img src="{{ venue.image }}" alt="" srcset="" class="img-fluid rounded">
            </div>
            <div class="card-body d-flex flex-column justify-content-center p-4">
                <h5 class="card-title">{{ venue.name }}</h5>
                <p class="card-text">{{ venue.city }}</p>
                <p class="card-text">{{ venue.state }}</p>
                <p class="card-text">{{ venue.demographics }}</p>
                <div class="mt-2">
                    <a href="{{url_for('site.update', id=venue.prod_id )}}" class="card-link btn btn-warning">Update Product</a>
                    <a href="{{url_for('site.delete', id=venue.prod_id )}}" class="card-link btn btn-danger">Delete Product</a>
                </div>
            </div>
        </div>
    </div> -->
{% endfor %}

{% endblock content %}
