{% extends 'base.html' %}

{% block content %}
    <div class="row shop-header p-5 justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h2 class="display-4">Welcome to DineInsights!</h2>
            {% if current_user.is_authenticated %}
            <p class="lead">Discover restaurants near you.</p>
            <a href="{{ url_for('site.create')}}" class="btn btn-outline-light mt-3">Search Restaurants</a>
            {% else %}
            <h5> Sign In to view Restaurants</h5>
            <a href="/signin" class="btn btn-outline-light mt-3">Sign In</a>
            {% endif %}
        </div>
    </div>

   

{% endblock content %}
