<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>DineInsights</title>
</head>
<body>
{% extends 'base.html' %}



{% block content %}

<style>
    .carousel-item{
        height: 25rem;
        background: #080808;
        color:white;
        position: relative
    }
    .container{
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        padding-bottom: 200px;
    }
    .photo{
        object-fit: scale-down;
        height: 20rem;
        width: 20rem;
    }
</style>


<div class="row shop-header p-5 justify-content-center align-items-center">
    <div class="col-md-6 text-center">
        <h2 class="display-4">Welcome to DineInsights!</h2>
        {% if current_user.is_authenticated %}
        <p class="lead">Discover restaurants near you.</p>
        <a href="{{ url_for('site.create')}}" class="btn btn-outline-light mt-3">Search Restaurants</a>
        {% else %}
        <h5> Sign In to view Restaurants</h5>
        <a href="/signin" class="btn btn-outline-light mt-3">Sign In</a>
        {% endif %}
    </div>
</div>
    {% if current_user.is_authenticated%}
    <div class="row mt-5 mb-5 justify-content-center">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                {% for venue in restaurants %}
              <div class="carousel-item {% if loop.index == 1 %} active  {% endif %}">
                <div class="row mt-3 mb-3 p-2 justify-content-center align-items-center">
                    <div class="col-6 text-center">
                    <h5 class="card-title"> {{ venue.name }}</h5>
                        <p class="card-text">{{ venue.city }}</p>
                        <p class="card-text">{{ venue.state }}</p>
                        <p class="card-text">{{ venue.location }}</p>
                        <p class="card-text">{{ venue.male  }}%-Male</p>
                        <p class="card-text">{{ venue.female  }}%-Female</p>
                        <p class="card-text">{{ venue.other }}%-Other</p>
                        <div class="mt-2">
                            <a href="{{url_for('site.update', id=venue.ven_id )}}" class="card-link btn btn-info btn-sm">Update Product</a>
                            <a href="{{url_for('site.delete', id=venue.ven_id )}}" class="card-link btn btn-danger btn-sm">Delete Product</a>
                      </div>
                    </div>
                    <div class="col-3">
                        <img class="img-fluid photo" src="{{ venue.image }}" alt="" >

                    </div>
                </div>
              </div>
              
              {% endfor %}
            </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          {% endif %}
    </div>
    

</div>  
   

{% endblock content %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
